.slidingAnimationHomePage_scroll_container{
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.slidingAnimationHomePage_scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.slidingAnimationHomePage_scroll div{
    display: flex;
    gap: 2em;
}

.slidingAnimationHomePage_scroll p{
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
}

.RightToLeft {
    animation: RightToLeft 20s linear infinite;
}

@keyframes RightToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}